* {
    margin: 0;
    padding: 0;
    border: border-box;
}

body {
    background-color: black;
    font-family: handjet;
}

@media only screen and (max-width: 500px) {
    #heading {
        height: 5vh;
    }
}

#heading {
    height: 12vh;
    font-size: 10vh;
    color: white;
    font-family: handjet;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.main {
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 20vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choices {
    height: 15vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choice {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    border: 0.4vh black;
    transition: border 0.1s, height 0.3s, width 0.3s;
}

.choice:hover {
    border: 1vh solid rgb(9, 24, 24);
}

.choice:active {
    border: 1vh solid green;
}

.scorecard {
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.player {
    height: 8vh;
    width: 20vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pleasework {
    height: 4vh;
    width: 100vw;
}

.winnerDraw {
    height: 8vh;
    width: 20vw;
    background-color: black;
}

p {
    color: white;
    font-family: handjet;
    font-size: 5vh;
}

.winnerDraw {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetGame {
    height: 8vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset {
    height: 7vh;
    width: 20vw;
    color: white;
    font-family: handjet;
    font-size: 5vh;
    transition: background-color 0.4s;
    border: 0;
    position: fixed;
    bottom: 0;
    background-color: black;
}

#reset:active {
    background-color: green;
}

#computerchose {
    color: white;
    height: 4vh;
    width: 100vw;
    font-family: handjet;
    font-size: 3vh;
    text-align: center;
}

.game-mode {
    margin: 20px auto;
    width: 80vw;
    text-align: center;
    color: white;
}

#rounds {
    padding: 5px;
    background-color: #333;
    color: white;
    font-size: 2.5vh;
    border: 0;
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    #heading {
        height: 6vh;
        font-size: 5vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
    }

    .choices {
        height: 200px;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    #computerchose {
        height: 150px;
        text-align: center;
        font-size: 7vh;
        color: grey;
    }

    #reset {
        position: fixed;
        font-size: 7vh;
        height: 8vh;
        bottom: 0;
        width: 15vw;
    }

    #winnerText {
        font-size: 3vh;
    }

    .game-mode {
        width: 80vw;
        font-size: 4vh;
    }

    #rounds {
        font-size: 4vh;
    }
}
